Librerías necesarias

In [2]:
import pandas as pd

Parametros de configuración

In [3]:
START_DATE = '2015-01-01'
PARQUET_OUTPUT_FILE = "output/assignment_parquet.parquet"
COMPLETE_PARQUET_FILE_PATH = "resources/sp500_history.parquet"

Leemos el parquet y mostramos la informaicón general de este

In [4]:
complete_parquet = pd.read_parquet(COMPLETE_PARQUET_FILE_PATH)

print(f"Shape: {complete_parquet.shape}")
print(f"Rango de fechas: {complete_parquet['date'].min()} -> {complete_parquet['date'].max()}")
print(f"Tickers: {complete_parquet['symbol'].nunique()}")
complete_parquet.head(10)

Shape: (7250110, 14)
Rango de fechas: 1990-01-02 00:00:00 -> 2026-01-30 00:00:00
Tickers únicos: 1289

,date,symbol,assetid,security_name,sector,industry,subsector,in_sp500,open,high,low,close,volume,unadjusted_close
0,1999-11-18,A,131684,Agilent Technologies Inc Common,Health Care,Life Sciences Tools & Services,Life Sciences Tools & Services,0,27.188307,29.877260,23.901808,25.545057,7.486229e+07,42.7500
1,1999-11-19,A,131684,Agilent Technologies Inc Common,Health Care,Life Sciences Tools & Services,Life Sciences Tools & Services,0,25.657097,25.694445,23.789768,24.349968,1.823611e+07,40.7500
2,1999-11-22,A,131684,Agilent Technologies Inc Common,Health Care,Life Sciences Tools & Services,Life Sciences Tools & Services,0,24.686087,26.067909,23.939156,26.067909,7.874048e+06,43.6250
3,1999-11-23,A,131684,Agilent Technologies Inc Common,Health Care,Life Sciences Tools & Services,Life Sciences Tools & Services,0,25.395672,26.067909,24.051195,24.051195,7.153099e+06,40.2500
4,1999-11-24,A,131684,Agilent Technologies Inc Common,Health Care,Life Sciences Tools & Services,Life Sciences Tools & Services,0,23.976501,25.059551,23.901808,24.536699,5.797720e+06,41.0625
5,1999-11-26,A,131684,Agilent Technologies Inc Common,Health Care,Life Sciences Tools & Services,Life Sciences Tools & Services,0,24.424660,24.798126,24.349968,24.611393,2.070304e+06,41.1875
6,1999-11-29,A,131684,Agilent Technologies Inc Common,Health Care,Life Sciences Tools & Services,Life Sciences Tools & Services,0,24.499353,25.358324,24.237928,25.171593,4.877790e+06,42.1250
7,1999-11-30,A,131684,Agilent Technologies Inc Common,Health Care,Life Sciences Tools & Services,Life Sciences Tools & Services,0,25.096899,25.657097,24.462008,25.208939,5.159442e+06,42.1875
8,1999-12-01,A,131684,Agilent Technologies Inc Common,Health Care,Life Sciences Tools & Services,Life Sciences Tools & Services,0,25.208939,25.955870,25.022205,25.657097,3.540150e+06,42.9375
9,1999-12-02,A,131684,Agilent Technologies Inc Common,Health Care,Life Sciences Tools & Services,Life Sciences Tools & Services,0,26.142603,26.889534,25.806484,26.366682,3.674868e+06,44.1250

Eliminamos columnas que tengan null (y que probablemente no nos aporten gran cosa)

In [9]:
columns_to_drop = []
for column in complete_parquet.columns:
    null_count = complete_parquet[column].isnull().sum()
    print(f"La columna {column} tiene {null_count} nulls")
    if (null_count > 0):
        columns_to_drop.append(column)

print(f"\r\nSe borran las siguientes columnas por tener nulls: {columns_to_drop}")

complete_parquet = complete_parquet.drop(columns=columns_to_drop)
complete_parquet.head(10)

La columna date tiene 0 nulls
La columna symbol tiene 0 nulls
La columna assetid tiene 0 nulls
La columna security_name tiene 0 nulls
La columna in_sp500 tiene 0 nulls
La columna open tiene 0 nulls
La columna high tiene 0 nulls
La columna low tiene 0 nulls
La columna close tiene 0 nulls
La columna volume tiene 0 nulls
La columna unadjusted_close tiene 0 nulls

Se borran las siguientes columnas por tener nulls: []

,date,symbol,assetid,security_name,in_sp500,open,high,low,close,volume,unadjusted_close
0,1999-11-18,A,131684,Agilent Technologies Inc Common,0,27.188307,29.877260,23.901808,25.545057,7.486229e+07,42.7500
1,1999-11-19,A,131684,Agilent Technologies Inc Common,0,25.657097,25.694445,23.789768,24.349968,1.823611e+07,40.7500
2,1999-11-22,A,131684,Agilent Technologies Inc Common,0,24.686087,26.067909,23.939156,26.067909,7.874048e+06,43.6250
3,1999-11-23,A,131684,Agilent Technologies Inc Common,0,25.395672,26.067909,24.051195,24.051195,7.153099e+06,40.2500
4,1999-11-24,A,131684,Agilent Technologies Inc Common,0,23.976501,25.059551,23.901808,24.536699,5.797720e+06,41.0625
5,1999-11-26,A,131684,Agilent Technologies Inc Common,0,24.424660,24.798126,24.349968,24.611393,2.070304e+06,41.1875
6,1999-11-29,A,131684,Agilent Technologies Inc Common,0,24.499353,25.358324,24.237928,25.171593,4.877790e+06,42.1250
7,1999-11-30,A,131684,Agilent Technologies Inc Common,0,25.096899,25.657097,24.462008,25.208939,5.159442e+06,42.1875
8,1999-12-01,A,131684,Agilent Technologies Inc Common,0,25.208939,25.955870,25.022205,25.657097,3.540150e+06,42.9375
9,1999-12-02,A,131684,Agilent Technologies Inc Common,0,26.142603,26.889534,25.806484,26.366682,3.674868e+06,44.1250

Eliminamos las fechas anteriores a la fecha de inicio del periodo del backtesting (datos que pesan y que no aportan)

In [ ]:
parquet = complete_parquet[complete_parquet['date'] >= START_DATE]

Guardamos los datos filtrados en PARQUET_OUTPUT_FILE

In [ ]:
parquet.to_parquet(PARQUET_OUTPUT_FILE, index=False)
print(f"Parquet filtrado guardado en: {PARQUET_OUTPUT_FILE}")